.section {
    padding: 3rem 1.5rem;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2, 
p {
    font-family: $sans-serif;
    color: $gray;
}

h3,
h4, 
h5 {
    font-family: $sans-serif-light;
    color: $gray;
}

.portfolio-container {
    max-width: 1700px;
}

.navbar {
    .portfolio-container {
        padding: 0 1.5rem;
    }
}

.main-content {
    background: #eee url('./images/geometry.jpg') repeat 0 0;
    width: 100%;
    margin: 0;
    text-align: center;
    height: 100%;
    box-sizing: border-box;
    animation: slide 20s linear infinite;
}

@keyframes slide {
    from { 
        background-position:0 0;
    }
    to {
        background-position:-400px 0; 
    }
}

.divider {
    border-bottom: 1px solid $text;
    display: block;
    width: 50px;
    margin: 10px auto;
}

// Website buttons 
.btn {
    outline: none;
    box-shadow: none;
    &:focus {
        box-shadow: none;
    }
    &.more-info {
        color: $green;
        background-color: $white;
        border: 2px solid $green;
        font-weight: 700;
        font-family: $sans-serif;
        &:hover {
            color: $white;
            background-color: $green;
            border: 2px solid $green;
            transition: 0.7s;
        }
    }
    &.website-link {
        color: $white;
        background-color: $green;
        border: 2px solid $green;
        font-weight: 700;
        font-family:  $sans-serif;
        &:hover {
            background-color: $dark-green;
            border: 2px solid $dark-green;
            color: $white;
        }
    }
}

/* load more */ 
.load-more-wrap {
    display: block;
    margin: 40px auto;
    // margin-top:0px;
    .load-more-btn {
        color: $green;
        border: 3px solid  $green;
        border-radius: 30px;
        position: relative;
        overflow: hidden;
        z-index: 1;
        transition: 0.5s;
        background-color: $white;
        font-size: 17px;
        font-weight: 600;
        font-family:  $sans-serif;
        padding: 12px 35px;
        text-transform: uppercase;
        box-shadow: 10px 9px 13px -4px #ccc;
        &:hover {
            color: $white;
            box-shadow: 10px 9px 13px -4px #ccc;
            span {
                transform: translateY(0) scale(2);
            }
        }
        span {
            position: absolute;
            width: 25%;
            height: 100%;
            background-color: $green;
            transform: translateY(150%);
            border-radius: 50%;
            left: calc((var(--n) - 1) * 25%);
            transition: 0.5s;
            transition-delay: calc((var(--n) - 1) * 0.1s);
            z-index: -1;
            &:nth-child(1) {
                --n: 1;
            }
            &:nth-child(2) {
                --n: 2;
            }
            &:nth-child(3) {
                --n: 3;
            }
            &:nth-child(4) {
                --n: 4;
            }
        }
    }
}

// 404 styles
.error-404 {
    height: calc(100vh - 10rem);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    .error-box {
        display: block;
        background-color: $white;
        margin: 4rem auto;
        padding: 3rem;
        border: 1px solid #eee;
        border-radius: 10px;
        box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        width: 100%;
        max-width: 40rem;
        h1 {
            font-size: 5rem;
            color: $text;
        }
    }
}

// Burger icon
.navbar-toggler {
    border: none;
    outline: none;
}
